[Desktop Entry]
Type=Application
Name=BusyMax
Comment=Calendar and task manager
Name[ar]=BusyMax
Comment[ar]=مدير التقويم والمهام
Name[de]=BusyMax
Comment[de]=Kalender- und Aufgabenverwaltung
Name[es]=BusyMax
Comment[es]=Gestor de calendarios y tareas
Name[et]=BusyMax
Comment[et]=Kalendri- ja ülesannete haldur
Name[fa]=BusyMax
Comment[fa]=مدیر تقویم و کارها
Name[fi]=BusyMax
Comment[fi]=Kalenteri- ja tehtäväsovellus
Name[fr]=BusyMax
Comment[fr]=Gestionnaire de calendriers et de tâches
Name[hi]=BusyMax
Comment[hi]=कैलेंडर और कार्य प्रबंधक
Name[it]=BusyMax
Comment[it]=Gestore di calendari e attività
Name[ja]=BusyMax
Comment[ja]=カレンダー・タスク管理アプリ
Name[ko]=BusyMax
Comment[ko]=캘린더와 할 일 관리
Name[pt_PT]=BusyMax
Comment[pt_PT]=Gestor de calendário e tarefas
Name[ru]=BusyMax
Comment[ru]=Календарь и планировщик задач
Name[vi]=BusyMax
Comment[vi]=Trình quản lý lịch và công việc
Name[zh]=BusyMax
Comment[zh]=日历与任务管理工具
Name[zh_Hans]=BusyMax
Comment[zh_Hans]=日历与任务管理工具
Name[zh_Hant]=BusyMax
Comment[zh_Hant]=行事曆與待辦事項管理工具
Exec=busymax %U
Icon=io.busystack.busymax
Terminal=false
MimeType=text/calendar;x-scheme-handler/webcal;
Categories=Office;Calendar;ProjectManagement;
StartupNotify=true
StartupWMClass=io.busystack.busymax
