[Desktop Entry]
Type=Application
Name=BusyMax
Comment=Calendar and task manager
Exec=busymax
Icon=io.busystack.busymax
Terminal=false
Categories=Office;Calendar;ProjectManagement;
StartupNotify=true
StartupWMClass=io.busystack.busymax
